@model HRMS_FinalProject.Models.Designation

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/partial_Layout.cshtml";

}

<div class="container mt-5">
    <h1 class="text-center"></h1>
    <br />
    <br />
    <h4 class="text-center">Designation</h4>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DepartmentID" class="control-label">Departments</label>
                    <select asp-for="DepartmentID" class="form-control" asp-items="ViewBag.DepartmentID"></select>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div class="text-center mt-3">
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
</div>
